Repository twosigma/marbles, pull requests merged in 2018-05, with the labels that each got.

#27 Pin sphinx_rtd_theme to get syntax highlighting on readthedocs
  requirements.txt
Labels: docs

#29 Include bash prompt in all failure output examples in Sphinx docs
  docs/examples/getting_started.txt
Labels: docs

#34 Doc fix
  docs/install.rst
Labels: docs

#45 add flake8 ignore to other files diffed against getting_started.py
  docs/examples/getting_started.py.annotated
  docs/examples/getting_started.py.dynamic
  docs/examples/getting_started.py.original
Labels: docs

#49 Periods are for sentences
  README.rst
Labels: docs

#43 add bumpversion config and maintainer's guide
  Pipfile
  Pipfile.lock
  docs/contributing.rst
  docs/index.rst
  docs/install.rst
  docs/maintaining.rst
  setup.cfg
  tox.ini
Labels: releng

#54 Added changelog
  Pipfile
  Pipfile.lock
  docs/changelog.rst
  docs/conf.py
  docs/index.rst
  docs/maintaining.rst
Labels: docs, releng

#57 added new docs dependency to setup.py and requirements.txt
  requirements.txt
  setup.py
Labels: docs

#59 Add traceback to AnnotationError
  docs/examples/required_note.py
  docs/examples/required_note.txt
  docs/winning.rst
Labels: docs

#61 Update README.rst
  README.rst
Labels: docs
